/* Colour variables */
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    overflow-x:hidden;
    margin: 0;
}

.app-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 90%;
}

.advice-container {
    background-color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10px;
    border-radius: 10px;
}

.advice-box{
    text-align: center;
}

.advice {
    color: var(--light-cyan);
    font-size: 28px;
    margin: 20px 30px;
    margin-bottom: 25px;
}

.advice-id {
    color: var(--neon-green);
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 40px;
    margin-bottom: 25px;
}

/* Dice button */

.button-container {
    position: relative;
    bottom: -25px;
}

#dice-button {
    border-radius: 50%;
    border: none;
    background-color: var(--neon-green);
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
}

#dice-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px var(--neon-green);
}

.dice-image {
    width: 1.4rem;
}

/* Footer styling */
.attribution {
    flex-grow: 0;
    font-size: small;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-cyan);
}

.footer > p {
    margin: 0;
}

p > a {
    text-decoration: none;
    color: var(--neon-green);
}

#pattern-divider {
    max-width: 90%;
}

/* Media queries */

@media (min-width: 768px) {
   .advice-container {
    /* width: fit-content; */
    max-width: 500px;
   }
    
}